In [1]:
##importing librabries  
import tensorflow as tf
from tensorflow.keras.models import load_model 
import pickle as pkl 
import pandas as pd 
import numpy as np

In [4]:
##Load the trained model,scaler,onehot and lable pickle files

model=load_model('regression.keras')

##load the encoder and scaler 

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pkl.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pkl.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pkl.load(file)

In [5]:
##Example Input data

input_data = {
    'CreditScore':789,
    'Gender' : 'Male',
    'Age': 45,
    'Tenure':3,
    'Balance':78000,
    'NumOfProducts':2,
    'HasCrCard': 1,
    'IsActiveMember':1,
    'Exited':1,
    'Geography':'France'

}

In [7]:
##one-hot encode 
geo_encode = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_enocoded_df = pd.DataFrame(geo_encode,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

d:\DeepLearning\CustomerChurn_Regression\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [8]:
##convert input data inot dataframe 
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography
0,789,Male,45,3,78000,2,1,1,1,France

In [9]:
#Encode categorical features
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography
0,789,1,45,3,78000,2,1,1,1,France

In [10]:
##concatination one hot encoded 
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_enocoded_df],axis=1)

In [11]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,789,1,45,3,78000,2,1,1,1,1.0,0.0,0.0

In [12]:
##scaling the input data 

input_scaled = scaler.transform(input_df)

In [13]:
input_scaled

array([[ 1.42208668,  0.91055421,  0.58065631, -0.68894811,  0.02562585,
         0.81966266,  0.64598061,  0.97071435,  1.95387275,  0.99828718,
        -0.57559072, -0.57779016]])

In [14]:
#predict_churn 
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step

array([[83870.64]], dtype=float32)